/*#region root/html/body*/
:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.1), 0px 0.8px 0.9px -1.2px hsl(var(--shadow-color) / 0.1), 0px 2px 2.3px -2.5px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-medium: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.11), 0px 1.6px 1.8px -0.8px hsl(var(--shadow-color) / 0.11), 0px 4.1px 4.6px -1.7px hsl(var(--shadow-color) / 0.11), 0px 9.9px 11.1px -2.5px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-high: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.1), 0px 2.9px 3.3px -0.4px hsl(var(--shadow-color) / 0.1), 0px 5.4px 6.1px -0.7px hsl(var(--shadow-color) / 0.1), 0px 8.9px 10px -1.1px hsl(var(--shadow-color) / 0.1), -0.1px 14.2px 16px -1.4px hsl(var(--shadow-color) / 0.1), -0.1px 22.1px 24.9px -1.8px hsl(var(--shadow-color) / 0.1), -0.1px 33.6px 37.8px -2.1px hsl(var(--shadow-color) / 0.1), -0.2px 49.5px 55.7px -2.5px hsl(var(--shadow-color) / 0.1);
}

@font-face {
    font-family: 'Mona Sans';
    src: url('../media/fonts/Mona Sans/Mona-Sans.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #010409;
}

body {
    color: #E6EDF3;
    min-height: 100dvh;
    overflow-x: hidden;
}

@media (pointer: fine) {
    body::-webkit-scrollbar {
        width: 0.5rem;
    }

    body::-webkit-scrollbar-thumb {
        background-color: #363B42;
        border-radius: 0.125rem;
    }

    body :-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
}

body * {
    font-family: 'Mona Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    margin: 0;
    padding: 0;

    color: #E6EDF3;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

a {
    color: #6c96bb;
    text-decoration: underline 1.5pt;
}

.hidden {
    display: none !important;
}

/*#endregion*/

/*#region header*/
header {
    width: 100%;
    height: 4rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #010409;
    position: relative;
    z-index: 10;
}

header>.title {
    width: 60%;
    padding-left: 5%;
    display: flex;
}

header>.content {
    width: 30%;
    padding-right: 5%;
    display: flex;
    gap: 10%;
    justify-content: flex-end;
    align-items: center;
}

header>.content>.header-content>* {
    width: 7rem;
    height: 5rem;
    background: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: larger;
}

header>.content>.hamburger-menu-container {
    display: none;
}

@media (pointer: fine) {
    header>.content>.header-content>*:hover {
        text-decoration: #E6EDF3 underline solid 2pt;
    }
}

@media only screen and (max-width: 1144px) {
    header>.content {
        width: 100%;
    }
}

@media only screen and (max-width: 993px) {
    header>.title {
        width: 100%;
    }

    header>.content {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 0;
    }

    header>.content>.hamburger-menu-container {
        display: grid;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 4rem;
        height: calc(4.75rem - 1pt);
        background-color: #010409;
        border-radius: 1rem 0 0 1rem;
    }

    header>.content>.hamburger-menu-container-opened {
        position: fixed;
    }

    header>.content>.hamburger-menu-button {
        display: block;
        right: 2rem;
        top: 1.25rem;
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;
    }

    header>.content>.hamburger-menu-button>svg {
        pointer-events: none;
    }

    header>.content>.header-content {
        transition: transform 100ms ease;
        transform: translateX(100%);
        position: fixed;
        right: 0;
        top: 7.75rem;
        width: 10rem;
        display: grid;
        grid-template-rows: 3.5rem 3.5rem 3.5rem;
        border-radius: 1rem 0 0 1rem;
        border: #21262D solid 1pt;
        overflow: hidden;
    }

    header>.content>.header-content-opened {
        transform: translateX(0%);
    }

    header>.content>.header-content>* {
        width: 100%;
        height: 100%;
        padding: 1rem;
        background-color: #010409;
    }
}

@media only screen and (max-width: 854px) {
    header {
        justify-content: center;
        position: relative;
    }

    header>.title {
        width: fit-content;
        padding: 0;
    }

    header>.title>h1 {
        margin-top: 0.75rem;
    }
}

@keyframes closeHeaderContent {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

/*#endregion*/

/*#region top bar*/
.top-bar {
    height: 3rem;
    background-color: #010409;
    border-bottom: #21262D solid 1pt;
    display: grid;
    padding: 0 1rem 0.75rem 1rem;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: 2rem 2rem 1fr;

    box-shadow: var(--shadow-elevation-medium);
    position: relative;
    z-index: 10;
}

.top-bar button {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    transition: background-color 200ms ease;
}

.top-bar button svg path {
    fill: #abafb2;
}

.top-bar .active {
    cursor: pointer;
}

.top-bar .active svg path {
    fill: #E6EDF3;
}

@media (pointer: fine) {
    .top-bar .active:hover {
        background-color: rgba(231, 238, 243, 0.125);
    }
}

.top-bar .bar {
    height: 3rem;
    background-color: #21262D;
    margin: 0.25rem;
    border-radius: 0.5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 4rem 1fr;
    align-items: center;
    font-size: large;
    font-weight: 500;
    overflow-x: auto;
}

@media (pointer: fine) {
    .top-bar .bar::-webkit-scrollbar {
        height: 0.5rem;
    }

    .top-bar .bar::-webkit-scrollbar-thumb {
        background-color: #abafb2;
        border-radius: 0.125rem;
    }

    .top-bar .bar :-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
}

.top-bar .bar .path-icon-container {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    min-width: 4rem;
    width: 4rem;
    height: 1.5rem;
}

.top-bar .bar .path-icon-container .path-icon {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
}

.top-bar .bar .path-icon-container .path-icon {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 100ms ease;
}

@media (pointer: fine) {
    .top-bar .bar .path-icon-container .path-icon:hover {
        background-color: #363B42;
    }
}

.top-bar .bar .path-icon-container svg {
    width: 100%;
    height: 100%;
}

.top-bar .bar .path {
    display: flex;
    width: max-content;
    padding-right: 1rem;
    position: relative;
}

.top-bar .bar .path>div {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

@media (pointer: fine) {
    .top-bar .bar .path>div>div {
        padding: 0.5rem;
    }
}

.top-bar .bar .path>div>div {
    margin: 0;
    border-radius: 1rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.path-not-clickable {
    pointer-events: none;
}

.path-clickable {
    cursor: pointer;
    transition: background-color 100ms ease;
}

@media (pointer: fine) {
    .path-clickable:hover {
        background-color: #363B42;
    }
}

.top-bar .bar .path div svg {
    display: flex;
    align-items: center;
    width: 2rem;
    height: 1.5rem;
}

.top-bar .bar .path-arrow {
    font-size: 24pt;
}

/*#endregion*/

.main-section {
    background-color: #0D1117;
    display: flex;
}

/*#region side panel*/
.side-panel {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    padding: 1rem 1rem 8rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 15rem;
    height: calc(100dvh - 16.75rem - 1pt);
    overflow: auto;

    background-color: #010409;
    border-right: #21262D solid 1pt;

    z-index: 9;
    position: relative;
}

@media (pointer: fine) {
    .side-panel::-webkit-scrollbar {
        width: 0.5rem;
    }

    .side-panel::-webkit-scrollbar-thumb {
        background-color: #21262D;
        border-radius: 0.125rem;
    }

    .side-panel::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
}

.side-group-title {
    font-size: larger;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

.side-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.side-button svg {
    min-width: 1.5rem;
    max-width: 1.5rem;
}

.side-button {
    cursor: pointer;
    height: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 100ms ease;
}

@media (pointer: fine) {
    .side-button:hover {
        background-color: #21262D;
    }
}

.side-button-year {
    margin-left: 1rem;
}

.side-button-session {
    margin-left: 2rem;
}

.side-button-variant {
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    margin-left: 3rem;
}

.side-container {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 250ms ease;
}

.collapsed {
    grid-template-rows: 0fr;
}

.side-group {
    overflow: hidden;
}

.side-button-arrow {
    pointer-events: all;
}

.side-button-arrow path {
    fill: #E6EDF3;
    transition: fill 100ms ease-in-out;
}

@media (pointer: fine) {
    .side-button-arrow:hover path {
        fill: #abafb2;
    }
}

.side-panel .credits {
    pointer-events: none;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 16.5rem;
    height: 7rem;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 0.25rem;
}

.side-panel .credits div {
    pointer-events: all;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-weight: 550;
    font-size: 14pt;
}

.side-panel .credits::before {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0) 100%);
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/*#endregion*/

.main-container {
    width: calc(100% - 17rem);
    height: calc(100dvh - 7.75rem - 1pt);
    overflow: hidden;
}

.main {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.main * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

@media (pointer: fine) {
    .main::-webkit-scrollbar {
        width: 0.5rem;
    }

    .main::-webkit-scrollbar-thumb {
        background-color: #21262D;
        border-radius: 0.125rem;
    }

    .main::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
}

.home,
.sub-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home>h2,
.sub-menu>h2 {
    margin: 1.5rem 0 0 1.5rem;
}

.home>div,
.sub-menu>div {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    margin: 2.5rem;
    width: 15rem;
    height: 15rem;
    perspective: 600px;
}

.card {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    z-index: 10;
    transition: scale 150ms ease, box-shadow 150ms ease;
    border: #363B42 solid 0.5pt;
    box-shadow: var(--shadow-elevation-medium);
}

@media (pointer: fine) {
    .card:hover {
        scale: 1.025;
        box-shadow: var(--shadow-elevation-high);
    }

    .card:hover img {
        scale: 1.05;
    }
}

.image-container {
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    position: relative;
}

.image-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container img {
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 150ms ease-in-out;
}

.image-container::before {
    pointer-events: none;
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75));
}

.card-title {
    pointer-events: none;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: x-large;
    font-weight: bold;
}

.bubble-sheet-menu {
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    padding: 1rem 0 2rem 0;
}

.bubble-sheet-title {
    padding: 2rem;
    font-size: x-large;
    font-weight: 600;
}

.bubble-sheet-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
}

.bubble-sheet-container div {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1rem;
    border: #363B42 solid 0.5pt;
    transition: background-color 100ms ease;
}

.bubble-chosen {
    background-color: #5E656E;
}

@media (pointer: fine) {
    .bubble-choice:hover {
        cursor: pointer;
        background-color: #21262D;
    }

    .bubble-choice.bubble-chosen:hover {
        cursor: pointer;
        background-color: color-mix(in srgb, #21262D 50%, #5E656E 50%);
    }
}

.bubble-sheet-menu button {
    font-size: x-large;
    font-weight: bold;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: #238636;
    border: none;
    box-shadow: var(--shadow-elevation-medium);
    transition: background-color 100ms ease;
}

@media (pointer: fine) {
    .bubble-sheet-menu button:hover {
        cursor: pointer;
        background-color: #1c6b2b;
    }
}

.bubble-sheet-menu .exam-mark {
    margin: 1rem 0;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: #E6EDF3;
    color: #0D1117;
    font-size: xx-large;
    font-weight: bold;
}

.correct-question {
    background-color: #238636;
    box-shadow: 15px 0px 20px -5px #2386364d, -15px 0px 20px -5px #2386364d;
}

.wrong-question {
    background-color: #862323;
    box-shadow: 15px 0px 20px -5px #8623234d, -15px 0px 20px -5px #8623234d;
}

.discounted-question {
    background-color: #86237e;
    box-shadow: 15px 0px 20px -5px #86237e4d, -15px 0px 20px -5px #86237e4d;
}

.corrected-discounted-question {
    position: relative;
}

.corrected-discounted-question::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: #86237e solid 0.25rem;
    border-radius: 0.5rem;
}

.corrected-question {
    position: relative;
}

.corrected-question::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: #E6EDF3 solid 0.25rem;
    border-radius: 0.5rem;
}

#i-button-discounted {
    cursor: pointer;
    background-color: #abafb2;
    border: none;
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    transition: background-color 100ms ease;
}

@media (pointer: fine) {
    #i-button-discounted:hover {
        background-color: #797e85;
    }
}

.discounted-question-info {
    width: 1rem;
    height: 1rem;
}

.pdf-viewer-container,
.periodic-table-pdf-viewer-container {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.pdf-viewer-container *,
.periodic-table-pdf-viewer * {
    pointer-events: all;
}

.switch-to-pdf,
.switch-to-periodic-table-pdf {
    position: fixed;
    z-index: 151;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
    width: 2.5rem;
    height: 2.5rem;

    cursor: pointer;
    background-color: #E6EDF3;
    border-radius: 100%;
    box-shadow: var(--shadow-elevation-medium);
    transition: scale 150ms ease;
}

.switch-to-periodic-table-pdf {
    pointer-events: all;
    position: fixed;
    z-index: 150;
    bottom: 6.5rem;
    right: 1rem;
    padding: 1rem;
    width: 2.5rem;
    height: 2.5rem;

    cursor: pointer;
    background-color: #E6EDF3;
    border-radius: 100%;
    box-shadow: var(--shadow-elevation-medium);
    transition: scale 150ms ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-to-pdf:hover::after {
    content: 'PDF (Z)';
}

.switch-to-periodic-table-pdf:hover::after {
    content: 'Periodic Table (X)';
}

.switch-to-pdf:hover::after,
.switch-to-periodic-table-pdf:hover::after {
    z-index: 200;
    position: absolute;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E6EDF3;
    padding: 0.5rem;
    border-radius: 1rem;
    bottom: calc(100% + 0.5rem);
    color: #010409;
    right: -0.25rem;
    animation: fadeIn 200ms ease;
}

.switch-to-pdf:hover::before,
.switch-to-periodic-table-pdf:hover::before {
    z-index: 200;
    content: '';
    position: absolute;
    display: flex;
    width: 0;
    height: 0;
    border-left: 0.25rem solid transparent;
    border-right: 0.25rem solid transparent;
    border-top: 0.25rem solid #E6EDF3;
    bottom: calc(100% + 0.25rem + 0.25pt);
    right: 2rem;
    animation: fadeIn 200ms ease;
}

.i-button {
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    width: 1.5rem;
    height: 1.5rem;

    cursor: pointer;
    background-color: #E6EDF3;
    border-radius: 100%;
    box-shadow: var(--shadow-elevation-medium);
    transition: scale 150ms ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (pointer: fine) {
    .i-button:hover {
        scale: 1.05;
    }
}

@media (pointer: fine) {

    .switch-to-pdf:hover,
    .switch-to-periodic-table-pdf:hover {
        scale: 1.05;
    }
}

.switch-to-pdf svg,
.switch-to-periodic-table-pdf svg {
    width: 100%;
    height: 100%;
}

.i-button svg,
.switch-to-periodic-table-pdfsvg {
    width: 90%;
    height: 90%;
}

.switch-to-pdf svg path,
.i-button svg path,
.switch-to-periodic-table-pdf svg path {
    width: 100%;
    height: 100%;
    fill: #0D1117;
}

.pdf-viewer,
.periodic-table-pdf-viewer {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    position: fixed;
    z-index: 150;
    bottom: 0;
    right: 0;
    width: calc(100% - 17rem);
    height: calc(100dvh - 7.75rem - 1pt);
    transition: bottom 100ms ease;
}

.hide-viewer {
    bottom: -100%;
}

.ACE {
    box-shadow: 1px 0 20px 9px #23863680, inset 1px 0 20px 9px #23863680;
}

.green {
    color: #238636;
    text-shadow: 1px 0 10px #23863680;
}

.red {
    color: #862323;
    text-shadow: 1px 0 10px #86232380;
}

.purple {
    color: #86237e;
    text-shadow: 1px 0 10px #86237e80;
}

@keyframes openMenu {
    0% {
        margin-top: 1.5rem;
        opacity: 0;
    }

    100% {
        margin-top: 0rem;
        opacity: 1;
    }
}

@keyframes closeMenu {
    0% {
        margin-top: 0rem;
        opacity: 1;
    }

    100% {
        margin-top: 1.5rem;
        opacity: 0;
    }
}

@media only screen and (max-width: 921px) {
    header {
        z-index: 101;
    }

    header>.content>.header-content {
        top: 4.75rem;
    }

    .top-bar {
        padding-top: 1rem;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .top-bar::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 5rem;
        bottom: 100%;
        z-index: -1;
        background-color: #010409;
    }

    .main-section {
        overflow-y: visible;
    }

    .main {
        overflow: visible;
        height: fit-content;
    }

    .main-container {
        width: 100%;
        min-height: calc(100dvh - 3.75rem - 1pt);
        height: fit-content;
        overflow: hidden;
    }

    .main {
        width: 100%;
        height: 100%;
        overflow: auto;
    }

    .main-container {
        height: fit-content;
    }

    .side-panel {
        display: none;
    }

    .side-panel .credits {
        left: -100%;
    }

    .main {
        width: 100%;
    }

    .main>div>div {
        justify-content: center;
    }

    .main>div>h2 {
        margin: 1.5rem 0 0 0;
        text-align: center;
    }

    .card-container {
        margin: 1rem;
    }

    .bubble-sheet-menu {
        margin-bottom: 8rem;
    }

    .bubble-sheet-buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .bubble-sheet-reveal-button {
        position: absolute;
        width: 12rem;
        top: calc(100% + 9rem);
    }

    .pdf-viewer-container,
    .periodic-table-pdf-viewer-container {
        width: 100%;
        height: 100dvh;
    }

    .pdf-viewer,
    .periodic-table-pdf-viewer {
        width: 100%;
        height: 100dvh;
    }

    .switch-to-pdf,
    .switch-to-periodic-table-pdf {
        width: 1.5rem;
        height: 1.5rem;
    }

    .i-button {
        width: 1rem;
        height: 1rem;
    }
}

@media only screen and (max-width: 551px) {
    .card-container {
        height: 7rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}